:root {
    --color1: #212121;
    --color2: #ffffff;
    --color3: #f5f5f5;
    /* --fz-xs: 14px; */
    --fz-xs: 1rem;
    --fz-sm: 1.25rem; /*12px*/
    --fz-md: 1.5rem; /*~16px increased size (orig. 1.3rem*/
    --fz-lg: 4rem; /*48px*/
    --fz-xl: 5.33rem; /*64px*/
    --fw-bold: 500;
    --fw-reg: 400;
    --fw-light: 300;
    /* --line-height: 1.5em;
    --button-padding: 4px 25px;
    --border-radius: 45px;
    --border: 1px solid;
    --nav-height: 90px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s; */
}

/* STYLE */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    height: 100%;
    letter-spacing: .12px;
    line-height: 1.666;
    max-width: 100%;
    height: 100vh;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fz-xl);
    color: var(--color1);
    letter-spacing: -1px;
    line-height: 1.125;
    margin: 0 0 2rem 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fz-lg);
    color: var(--color1);
    letter-spacing: -1px;
    line-height: 1.125;
    margin: 0 0 2rem 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-light);
    font-size: var(--fz-md);
    color: var(--color1);
    line-height: 1.3;
    margin: 0 0 3rem 0;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-light);
    font-size: var(--fz-md);
    color: var(--color1);
    font-style: normal;
    text-decoration: underline;
    margin: 0;
}

.plain-link {
    text-decoration: none;
}

.abox { /*bottom nav bar*/
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

/* HERO LAYOUT */
.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 600px;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
}

.hero-textBox {
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.img {
    display: flex;
    justify-content: end;
    align-self: center;
    height: 650px;
    transition: var(--transition);
}


.green-img{
    position: absolute;
    height: 650px;

    animation-name: fadein1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 5s;
}

@keyframes fadein1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
	}
	100% {
        opacity: 0;
	}
}

.pink-img{
    position: absolute;
    height: 650px;

    animation-name: fadein2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 5s;
}

@keyframes fadein2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
	}
	100% {
        opacity: 1;
	}
}

/*HEADER LAYOUT*/
header {
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 0 0
}
.stage-wrapper {
    font-weight: var(--fw-light);
    font-size: var(--fz-xs);
    line-height: normal;

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 0;
}

.stage-wrapper  .ul{
    text-decoration: underline;
    text-underline-offset: 6px;
}

/*START LAYOUT*/
.start-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
}

.start-textbox {
    display: flex;
    flex-flow: column;
}

.start-p {
    display: flex;
    align-self: flex-end;
    text-align: end;
}

.start-abox a{
    line-height: noraml;
}

.start-abox {
    display: flex;
    justify-content: space-between;
}

/*STEP 2.1 LAYOUT*/
.step21-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
    gap: 80px;
}

.step21-wrapper h2{
    margin: 0;
}

.step21-box p{
    margin: 0;
}

.step21-sel {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.step21-box {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    aspect-ratio: 1;
    text-align: center;
    align-items: center;
    gap: 10px;
    /* background-color: var(--color3); */
    padding: 10px;
}

.step21-sel button{
    background-color: transparent;
    border: transparent;
}

.step21-sel  button:hover {
    background-color: var(--color3);
}

.step21-sel  button:focus {
    background-color: var(--color3);
}

/*STEP 2.2 LAYOUT*/
.step22-fullwrap {
    position:absolute;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
}

.step22-img {
    z-index: 0;
    position: absolute;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.step22-img img{
    height: 500px;
}

.step22-wrapper {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    gap: 80px;
}

.step22-wrapper h2{
    margin: 0;
    padding: 0 400px;
}

.step22-sel p{
    margin: 0;

}

.step22-sel {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 400px;
}

.step22-abox { /*bottom nav bar*/
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 400px;
}

.plain-link button{
    background-color: transparent;
    border: transparent;
}

.plain-link button:hover{
    background-color: var(--color3);
}

.plain-link button:focus{
    background-color: var(--color3);
}

/*STEP 3.1 LAYOUT*/
.step31-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-content: center;
    justify-items: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
}

.step31-img img{
    height: 400px;
    padding: 0 0 0 20px;
}

.step31-text {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.step31-wrapper h2{
    text-align: right;
}

.step31-sel p{
    margin: 0;
}

.step31-sel {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-between;
    align-self: end;
    text-align: right;
    justify-items: center;
    gap: 30px;

}

.step31-abox {
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

.step31-abox button{
    background-color: transparent;
    border: transparent;
}

.step31-abox  button:hover {
    background-color: var(--color3);
}

.step21-sel  button:focus {
    background-color: var(--color3);
}

/*STEP 3.2 LAYOUT*/
.step32-wrapper {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
    gap: 60px;
}

.step32-box {
    display:flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 150px;
}

.step32-box img{
    height: 140px;
}

.step32-text {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: left;
}

.step32-wrapper h2{
    text-align: left;
    margin: 0 0 50px 0;
}

.step32-sel {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-self: end;
    text-align: right;
    justify-items: center;
}

.step32-box img{
    height: 150px;
    width: auto;
}

.step32-abox {
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

.step32-sel button{
    background-color: transparent;
    border: transparent;
}

.step32-sel  button:hover {
    background-color: var(--color3);
}

.step32-sel  button:focus {
    background-color: var(--color3);
}


/* CAPSULE 1 LAYOUT */
.capsule1-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
    gap: 60px;
}

.capsule1-box {
    display:flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 150px;
}

.capsule1-wrapper img{
    height: 450px;
}

.capsule1-text {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: left;
}

.capsule1-wrapper h1{
    text-align: left;
    margin: 0 0 50px 0;
}

.capsule1-sel {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-self: end;
    text-align: right;
    justify-items: center;
}

.capsule1-box img{
    grid-column: 2 / span 1;
    height: 150px;
    width: auto;
}

.capsule1-abox {
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}


/* CAPSULE-2 LAYOUT */
.capsule2-wrapper {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
}

.capsule2-text {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: left;
}

.capsule2-img img{
    max-width:100%;

}

.capsule2-abox {
    padding: 50px 0 0 0 ;
    text-align: center;
}

/* CAPSULE 3 LAYOUT */
.capsule3-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    padding: 0 400px;
    gap: 30px;
}

.capsule3-wrapper img{
    height: 400px;
}

.capsule3-text {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: right;
}

.capsule3-wrapper h1{
    margin: 0 0 50px 0;
}

.capsule3-sel {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-self: end;
    text-align: right;
    justify-items: center;
}

.capsule3-box img{
    grid-column: 2 / span 1;
    height: 150px;
    width: auto;
}

.capsule3-abox {
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}
